.calculator {
  @include flex-wrap-center-column;
  background-color: $calculator-pink;
  height: 420px;
  width: 250px;
  border-radius: 1em;

  margin: 3rem 3rem 8rem 3rem;

  // box-shadow: 2px 2px 15px $calculator-pink;

  // box-shadow: $button-pink 0px 7px 19px 0px;

  box-shadow: $calculator-pink 0px 8px 24px;
}

.result-display {
  box-shadow: inset -2px -2px 10px $button-pink;
  border-radius: 30px;
  height: 70px;
  width: 80%;
  margin-bottom: 20px;

  padding: 0 20px 15px 0;
  color: $white;
  font-size: 2.5rem;
  font-family: sans-serif;
  font-weight: lighter;

  .display-content {
    @include align-and-justify-flex-end;
    word-wrap: break-word;
    word-break: break-all;
    margin: 10px 0 0 20px;
    overflow: hidden;
    width: 90%;
    height: 90%;
  }
}

.keypad {
  @include space-between-wrap;
  height: 200px;
  width: 85%;
  padding-bottom: 60px;

  button {
    height: 4rem;
    margin: 6px 3px 6px 3px;
    font-size: 1.5rem;
    color: $white;

    border: none;
    outline: none;
    box-shadow: 2px 2px 6px $button-pink;

    cursor: pointer;

    background: linear-gradient(315deg, $button-pink, $calculator-pink);

    &:active {
      background: linear-gradient(315deg, $calculator-pink, $button-pink);
    }
  }

  .round-button {
    width: 4rem;
    border-radius: 50%;
  }

  .oval-button {
    width: 7rem;
    border-radius: 30px;
  }

  // ! Delete button visibility hidden until I fix the error!
  #delete-button {
    // visibility: hidden;
    font-size: 1.6rem;
  }
}

// ? Breakpoints

// * Galaxy fold..

@include galaxy-fold-and-lower {
  .calculator {
    margin: 3rem 0.2rem 3rem 0.2rem;
  }
}

// ? Desktop

@include desktop {
  .calculator {
    margin: 3rem 4rem 3rem 4rem;
  }
}
