// ? Web App Component styling imports
@import "./Calculator/calculator.scss";
@import "./TodoApp/todo.scss";
@import "./Password-Generator/password-generator.scss";

// ? Universal style
.web-apps-page-main-container {
  width: 100vw;

  background-image: url("./Static/brush-strokes-pink.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // !!! DEBUG weird overflow
  padding-bottom: 200px;
  margin-bottom: 20px;
}

// ? Mobile

.apps-content-container {
  display: flex;

  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  padding: 130px 0 100px 0;
}

// ? Tablet +

@include tablet {
  .apps-content-container {
    padding-top: 15rem;
  }
}

@include desktop {
  .apps-content-container {
    padding: 15rem 5rem 0 5rem;
  }
}
