@import "./Calculator/calculator.scss";
@import "./TodoApp/todo.scss";

// ? Universal style
.web-apps-page-main-container {
  height: 100vh;
  width: 100vw;

  background-image: url("./Static/grid-bg.png");
  background-position: center;
  background-repeat: repeat;
  background-size: contain;

  // !!! DEBUG weird overflow
  padding-bottom: 800px;
  margin-bottom: 20px;
}

// ? Mobile

.apps-content-container {
  display: flex;

  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  padding: 130px 0 100px 0;
}

.coming-soon-notice {
  text-align: center;
  line-height: 4rem;
  margin: 60px;

  font-family: $intro-font-family;
  font-size: 3rem;

  color: $hot-pink;
}

// ? Tablet +

@include tablet {
  .apps-content-container {
    padding-top: 150px;
  }

  // !!! DEBUG weird overflow
  .web-apps-page-main-container {
    padding-bottom: 200px;
  }
}
