.weather-app-container{

    width: 50rem;
    height: 35rem;
    border: 3px solid red;

    border-radius: 2rem;

    // ! Just for testing
    display: flex;
    justify-content: center;
    align-items: center;
}