.weather-app-container {
  width: 50rem;
  height: 35rem;
  //   border: 3px solid red;

  font-family: $nav-links-font-family;
  color: $main-site-blue;

  border-radius: 2rem;
  margin: 3rem 3rem 8rem 3rem;

  // ! Just for testing
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-size: cover;
}

.returned-data-container {
  width: 70%;

  display: flex;

  margin: 0 0 5rem 0;
  padding: 3rem;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  //   border: 1px solid rgba(255, 255, 255, 0.3);
}

.city-heading {
  font-size: 2rem;
  letter-spacing: 0.1rem;

  span {
    font-size: 1.5rem;
  }
}

.main-weather-info-container {
  width: 50%;
}

.extra-weather-info-container {
  display: flex;
  flex-direction: column;

  width: 50%;
  align-self: center;
  text-align: right;
}

.extra-weather-details {
  font-size: 1.3rem;
  padding: 0 0 0.2rem 0;
}

.current-temperature {
  padding: 0.5rem 0 0 0;
  font-size: 2.3rem;
}

.weather-search-input {
  padding: 0.8rem 1rem 0.8rem 1rem;
  outline: none;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 1.6rem;
  border-radius: 0.5rem;

  font-family: $main-font-regular-font-family;
  color: $hot-pink;

  &::placeholder {
    font-style: italic;
    font-family: $main-font-regular-font-family;
    color: $main-site-blue;
  }
}

// ? Mixins

@include galaxy-fold-and-lower {
  .weather-app-container {
    margin: 0.5rem;

    h1 {
      font-size: 2rem;
    }
  }

  .returned-data-container {
    width: 70%;
  }

  .extra-weather-info-container {
    font-size: 1.5rem;
  }
}
@include tablet {
  .returned-data-container {
    width: 80%;
  }

  .city-heading {
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
  }

  .extra-weather-details {
    font-size: 1.5rem;
  }
}

@include desktop {
  .weather-app-container {
    margin: 3rem 4rem 3rem 4rem;
  }
}
