// ? Mobile

// * Main Container

.project-page-main-container {
  width: 100vw;

  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

// * Headings section

.project-page-heading {
  margin: 13rem 0 0 0;

  font-family: $intro-font-family;
  font-size: 3.5rem;
  color: $main-site-blue;
}

// * Cards Section

.cards-container {
  margin: 2.5rem 0 5rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

// Lower opacity over entire card link on 'active' for mobile
.card-link {
  &:active {
    opacity: 0.7;
  }
}
// Lower opacity over entire card on 'hover' for devices that won't stick
@media (hover: hover) {
  .card-link:hover {
    opacity: 0.7;
  }
}

//  Overall styling for project cards
.all-cards-layout {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 400px;
}

// Card and text are to have the same width
.all-cards-layout,
.project-text-container {
  width: 100vw;
}

.desktop-img-view {
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

// * Project text area

.project-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: $main-font-thin-font-family;
  color: $main-site-blue;
  letter-spacing: 2px;

  padding: 4rem 0 0 0;
}

.project-heading {
  font-size: 3rem;
  margin: 0 0 2rem 0;
}

.project-paragraph {
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  width: 80%;
}

.project-links-container {
  display: flex;
  justify-content: space-evenly;

  width: 9rem;
  margin: 2.5rem 0 0 0;

  .website-project-link,
  .git-hub-project-link {
    color: $main-site-blue;
    font-size: 2.3rem;

    &:active {
      color: $salmon;
    }
  }

  @media (hover: hover) {
    .website-project-link:hover,
    .git-hub-project-link:hover {
      color: $salmon;
    }
  }
}

// ? Itadakimasu Card

.project-card-itadakimasu {
  background-color: $sun-yellow;
}

// ! Img styling
// * Styling of screenshot iphone 6/7/8 Plus on front card
.mobile-img-view {
  height: 80%;
  width: auto;
}

.itadakimasu-quote-span {
  display: block;
  font-size: 1.8rem;
  margin: 1.2rem 0 0 0;
}

// ? HTML portfolio Card

.project-card-html-portfolio {
  background-image: url("./static/brush-strokes.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// ? Bootstrap Card

.bootstrap-card {
  background-image: url("./static/bootstrap-3.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

// ? Small phones..

@include galaxy-fold-and-lower {
  // ! Img styling
  // * Styling of screenshot iphone 6/7/8 Plus on front card
  .mobile-img-view {
    height: 60%;
  }
}

// ? Tablet
@include tablet {
  // * Headings Section

  .projects-subheading {
    font-size: 2.5rem;
    width: 400px;
  }

  // * Cards Section

  .cards-container {
    margin: 3rem 0 4rem 0;
  }

  .all-cards-layout {
    height: 600px;
  }

  // Card and text are to have the same width
  .all-cards-layout,
  .project-text-container {
    width: 80vw;
  }

  .project-heading {
    font-size: 3rem;
    margin: 3rem 0 2rem 0;
  }

  .project-paragraph {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .itadakimasu-quote-span {
    font-size: 2.5rem;
    margin: 2rem 0 0 0;
  }

  .project-links-container {
    .website-project-link,
    .git-hub-project-link {
      font-size: 2.8rem;
    }
  }
}

// ? Desktop
@include desktop {
  // * Headings Section

  .project-page-heading {
    margin: 170px 0 0 0;
    font-size: 4.5rem;
  }

  // * Cards Section

  .all-cards-layout {
    height: 600px;
  }

  // Card and text are to have the same width
  .all-cards-layout,
  .project-text-container {
    width: 80vw;
    max-width: 1100px;
  }
}
