// ? Mobile

.project-page-main-container {
  width: 100vw;

  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

// !!! To delete under construction once I have added more
.under-construction {
  font-family: $intro-font-family;
  font-size: 3rem;
  color: $salmon;
  text-align: center;
  margin: 50px;
}
// !!! ====================================

.project-page-heading {
  margin: 130px 0 0 0;

  font-family: $intro-font-family;
  font-size: 3.5rem;
  color: $main-site-blue;
}

.projects-subheading {
  margin: 40px 0 0 0;
  width: 250px;

  font-family: $main-font-regular-font-family;
  color: $main-site-blue;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
}

.all-cards {
  // position relative so flip buttons can be positioned absolute
  position: relative;
  // ? Setting z-index lower than .flip-button for functionality
  z-index: 1;

  margin-top: 50px;
  width: 100vw;
  height: 400px;
}

// ! Back card-dimensions
.back-card {
  width: 80vw;
  height: 80vh;
}

// Japanese Project Card
.project-card-japanese-api {
  background-color: $sun-yellow;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-img-view {
  height: 80%;
  width: auto;

  border-radius: 2rem;
}

// ! Flip Buttons
.flip-button {
  // position absolute - relative to .all-cards
  position: absolute;
  // ? Setting z-index higher than .all-cards for functionality
  z-index: 20;

  background: transparent;
  border: none;
  // React-icon Component inside button
  font-size: 3rem;
  color: $hot-pink;
}

.front-button {
  bottom: 5%;
  right: 5%;
}

.back-button {
  bottom: 5%;
  left: 5%;
}

// ? Tablet
@include tablet {
  .all-cards {
    width: 80vw;
    height: 600px;
  }

  // ! Flip button
  .flip-button {
    font-size: 4rem;
  }
}

// ? Desktop
@include desktop {
  .all-cards {
    margin-top: 70px;

    max-width: 1100px;
    height: 600px;
  }

  .project-page-heading {
    margin: 170px 0 0 0;
    font-size: 4.5rem;
  }

  .projects-subheading {
    font-size: 2.5rem;
    width: 400px;
  }
}
