// ? Colours

// Colour palette for main site
$main-site-blue: #03034b;

// ! Or maybe MAIN palette? Colour palette for web app page..
$blue-jeans: #5dadec;
$dark-pastel-green: #35c03c;
$prussian-green: #1e7931;
$coquelicot: #f83901;
$cotton-candy: #fbbcd9;
$salmon: #f98072;
$mauve: #e0b0ff;
$bright-red: #ff000d;

$jonquil: #f4ca17;
$chrome-yellow: #faa700;
$pink-lace: #fdddf4;
$black: #1b1812;
$portland-orange: #f85a36;
$vivid-sky-blue: #38ccff;
$sun-yellow: #fdd701;
$snow: #fffafa;
$hot-pink: #d342c3;

// Calculator App
$calculator-pink: #fbc0cb;
$button-pink: #f98a94;
$white: #fff;

//  To-do App
$todo-background: #272a35;
$submit-button: rgb(216, 30, 101);
$todo-green: #3c6862;
$todo-dark-green: #184b43;
$todo-item-background: #3b58b8;
$redo-button: #e6a200;
$close-button: #771d4d;

// Password Generator
$password-teal: #9dc5d3;
$password-darker-teal: #164a67;
$password-white: #f8f8f8;
$password-rosa: #f08080;

$todo-main-font-font-family: source-code-pro, Menlo, Monaco, Consolas,
  "Courier New", monospace;
$todo-heading-font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
  sans-serif;

// ? Fonts

// Nav Fonts
$logo-home-button-font-family: Oxygen Regular, sans-serif;
$nav-links-font-family: Oxygen Regular, sans-serif;

// Home Page fonts
$intro-font-family: Sora SemiBold, sans-serif;
$sub-headings: JetBrains Mono Regular;

// main text
$main-font-regular-font-family: Sora Regular, sans-serif;
$main-font-thin-font-family: Sora Thin, sans-serif;
$main-font-extra-light-font-family: Sora ExtraLight, sans-serif;
$main-font-light-font-family: Sora Light, sans-serif;
$main-font-semi-bold-font-family: Sora SemiBold, sans-serif;

// Contact Page Send button
$send-button-font-family: JetBrains Mono Bold, sans-serif;
