// ? mobile (and universal layouts)

.contact-page-main-container {
  width: 100vw;

  display: flex;
  justify-content: center;

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 120px 0 0 0;

    width: 300px;
    height: auto;
  }

  .contact-page-text,
  .contact-page-heading {
    text-align: center;
  }

  .contact-page-heading {
    font-size: 2.5rem;
    font-family: $intro-font-family;
    margin: 0 0 2rem 0;
  }

  .contact-page-text {
    font-family: $main-font-regular-font-family;
    font-size: 1.5rem;
    width: 240px;
    &:nth-of-type(1) {
      margin-bottom: 2rem;
    }
  }

  .form-container {
    @include subtle-box-shadow;
    background: $pink-lace;
    padding: 20px;
    margin: 20px 0 0 0;
    border-radius: 0.5rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 250px;

    .form-labels {
      font-family: $sub-headings;
      font-size: 1.4rem;
      margin: 8px 0 4px 0;
    }

    .contact-form-input,
    #client-message,
    .submit-button {
      border: none;

      // ! Define input font size so form does not auto zoom on ios
      font-size: 15px;
    }

    .contact-form-input,
    #client-message {
      &:focus {
        outline: none;
        border: 1px solid $bright-red;
        border-radius: 5px;
        box-shadow: 0 0 5px $bright-red;
      }
    }

    .contact-form-input {
      padding: 2px;
      height: 2.2rem;
    }

    #client-message {
      resize: none;
      height: 100px;
      padding: 10px;
    }

    .submit-button {
      width: 100px;
      padding: 5px;
      margin: 15px 0 0 0;
      border-radius: 5rem;
      align-self: center;

      font-family: $send-button-font-family;
      letter-spacing: 1px;

      background: $blue-jeans;
      color: $snow;

      cursor: pointer;

      &:hover {
        background-color: $prussian-green;
      }

      &:disabled {
        opacity: 0.4;
        background: $coquelicot;
      }
    }

    // .submit-error {
    //   display: none;
    //   font-size: 1.7rem;
    //   padding: 10px;
    //   font-family: $sub-headings;
    // }

    // .successful-submit {
    //   display: none;
    //   font-size: 2.5rem;
    //   margin-top: 20px;
    //   text-align: center;
    //   font-family: $sub-headings;
    // }
  }

  .my-email-container {
    font-family: $main-font-regular-font-family;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 50px 0 100px 0;

    .my-email-spans {
      &:nth-of-type(1) {
        font-size: 1.3rem;
      }

      &:nth-of-type(2) {
        font-family: $main-font-semi-bold-font-family;
        font-size: 1.5rem;
        padding-top: 1rem;
        letter-spacing: 1.5px;
      }
    }
  }
}

// ? Galaxy fold..

@include galaxy-fold-and-lower {
  .content-container {
    width: 200px;
  }

  .contact-page-text,
  .form {
    width: 180px;
  }
}

// ? Tablet +

@include tablet {
  .contact-page-main-container {
    .content-container {
      width: auto;
      margin-top: 150px;
    }

    .contact-page-text,
    .form {
      width: 400px;
    }

    .contact-page-heading {
      font-size: 3.8rem;
      margin-bottom: 3rem;
    }

    .contact-page-text {
      font-size: 2.5rem;
    }

    .form-container {
      padding: 30px;
      margin: 35px 0 0 0;
    }

    .form {
      .form-labels {
        font-size: 1.8rem;
      }

      .contact-form-input {
        height: 3rem;
      }

      #client-message {
        height: 180px;
      }

      .submit-button {
        width: 150px;
        padding: 1rem;
        margin-top: 2rem;
        font-size: 1.6rem;
      }
    }

    .my-email-container {
      margin: 100px 0 150px 0;

      .my-email-spans {
        &:nth-of-type(1) {
          font-size: 1.8rem;
        }

        &:nth-of-type(2) {
          font-size: 2.2rem;
          padding-top: 1.5rem;
        }
      }
    }
  }
}

// ? Desktop +

@include desktop {
  .contact-page-main-container {
    .content-container {
      margin-top: 170px;
    }

    .contact-page-text,
    .form {
      width: 600px;
    }

    .form-container {
      padding: 40px;
      margin: 60px 0 0 0;
    }

    .form {
      .form-labels {
        margin-bottom: 1rem;
      }

      #client-message {
        height: 200px;
      }
    }
  }
}
