// ? Mobile

// * Main Container

.my-lola-page-main-container {
  width: 100vw;

  margin-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: $main-site-blue;
}

.my-lola-page-heading {
  margin: 13rem 0 5rem 0;
  font-family: $intro-font-family;
  font-size: 3.5rem;
  text-align: center;
}

.my-lola-paragraph {
  font-size: 1.6rem;
  line-height: 2.5rem;
  text-align: center;
  width: 80%;
  max-width: 50rem;

  font-family: $main-font-thin-font-family;
}

.my-lola-image-container {
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 5rem;
}

.my-lola-images {
  width: 30rem;
  margin: 0 0 5rem 0;
  border-radius: 0.8rem;

  box-shadow: rgba(0, 0, 0, 0.055) 0px 5px 15px;
}

.projects-view-link {
  color: $main-site-blue;
  font-family: $nav-links-font-family;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-decoration: none;

  margin-top: 2rem;

  &:active {
    color: $salmon;
  }
}

@media (hover: hover) {
  .projects-view-link:hover {
    color: $salmon;
  }
}

// ? Tablet
@include tablet {
  .my-lola-image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 5rem;
  }

  .my-lola-images {
    margin: 5rem;
    width: 50rem;
  }
}

// ? Desktop
@include desktop {
  .my-lola-images {
    width: 80rem;
  }
}
