// ? Mobile and universal

.password-generator-container,
.password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-generator-container {
  background-color: $password-white;
  color: $password-darker-teal;
  font-family: $nav-links-font-family;

  width: 80%;
  max-width: 800px;
  padding: 4rem 2rem 4rem 2rem;

  margin: 5rem 3rem 5rem 3rem;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.password-generator-heading {
  text-align: center;
  font-size: 3.5rem;
  font-family: $send-button-font-family;
  margin: 0 0 1rem 0;
  color: $password-rosa;
}

.password-subheadings {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 1.6rem 0 1.5rem 0;
  letter-spacing: 0.1rem;
  width: 80%;
  text-align: center;
}

.new-password {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}

.output {
  width: 80%;
  max-width: 300px;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: snow;

  margin: 0 0 1rem 0;

  //   border: solid 1px $password-teal;

  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-weight: bold;
  letter-spacing: 1px;

  overflow: hidden;
}

.define-number-input {
  background-color: snow;
  outline: none;
  border: none;
  //   border: $password-teal solid 2px;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 60%;

  font-size: 1.6rem;

  &::placeholder {
    font-style: italic;
    opacity: 0.5;
  }
}

.define-number-input,
.output,
.generate-button {
  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
    inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0.2);
}

.checkbox-container {
  text-align: center;
  width: 80%;
  max-width: 200px;
  padding: 2rem 0 2rem 0;

  //   .password-subheadings {
  //     font-size: 1.4rem;
  //   }
}

#checkbox {
  margin-left: 0.5rem;
}

.generate-button {
  color: $password-rosa;
  font-family: $intro-font-family;
  font-size: 1.5rem;
  padding: 1.3rem 1.6rem 1.3rem 1.6rem;

  border: none;
  outline: none;

  border-radius: 2rem;

  &:active {
    box-shadow: inset 7px 7px 15px rgba(55, 84, 170, 0.15),
      inset -7px -7px 20px rgba(255, 255, 255, 1),
      0px 0px 4px rgba(255, 255, 255, 0.2);
  }
}

// ? Tablet

@include tablet {
  .password-generator-container {
    margin: 5rem;
  }
}
